{#This is the base twig which represents the site template#}
<!DOCTYPE html>

{#TODO language#}
<html lang="ar">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="title" content="{% block meta_title %}{% endblock %}"/>
    <meta name="og_title" content="{% block meta_og_title %}{% endblock %}"/>
    <meta name="description" content="{% block meta_description %}{% endblock %}"/>
    <meta name="og_description" content="{% block meta_og_description %}{% endblock %}"/>
    <meta name="image" content="{% block meta_image %}{% endblock %}"/>


    <title>{% block title %}Markety{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets  '../app/Resources/public/css/app.css'
        filter='cssrewrite' output='css/markety' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {#<link rel="stylesheet" href="{{ asset('css/app.css') }}" />#}
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" />

        {% block stylesheets_custom %} {% endblock %}
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
        {% block javascripts_custom %} {% endblock %}
    {% endblock %}

</head>



<body id="{% block body_id %}{% endblock %}">

    {% block header %}

        <nav class="navbar navbar-default navbar-markety" role="navigation">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>



            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-left">

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a style="" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('fos_user_profile_show' , {'username':app.user.getUsername()}) }}"> {{ 'navbar.welcome'|trans({'name':app.user.getUsername()}) }}</a></li>
                        {#<li><a style="" href="{{ path('fos_user_profile_show', {'username':app.user.getUsername()}) }}">{{ 'navbar.profile'|trans }}</a></li>#}
                    {% endif %}
                    {% set uri = app.request.uri %}
                    {% if (not is_granted("IS_AUTHENTICATED_REMEMBERED")) and ('login' not in uri) %}
                        <li><a id="registerMenu" href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                        <li><a id="loginMenu" href="{{ path('fos_user_security_login') }}" data-remote="false" data-toggle="modal" data-target="#loginModal">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                    {% endif %}

                </ul>


                <ul class="nav navbar-nav navbar-right">

                    <li><a href="{{ path('markety_user_homepage') }}">{{ 'navbar.main'|trans }}</a></li>
                    <li class="divider"></li>


                </ul>



            </div>
        </nav>
    {#<nav class="navbar navbar-inverse">#}
        {#<div class="container-fluid">#}

            {#<div class="navbar-header">#}
                {#<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">#}
                    {#<span class="icon-bar"></span>#}
                    {#<span class="icon-bar"></span>#}
                    {#<span class="icon-bar"></span>#}
                {#</button>#}
                {#<a class="navbar-brand" href="#">Logo</a>#}
            {#</div>#}

            {#<div class="collapse navbar-collapse navbar-ex1-collapse" id="myNavbar">#}
                {#<ul class="nav navbar-nav navbar-right rtl" style="direction: rtl">#}
                    {#<li><a href="#">Home</a></li>#}
                    {#<li><a href="#">Messages</a></li>#}
                {#</ul>#}
                {#<form class="navbar-form navbar-right" role="search">#}
                    {#<div class="form-group input-group">#}
                        {#<input type="text" class="form-control" placeholder="Search..">#}
                        {#<span class="input-group-btn">#}
                {#<button class="btn btn-default" type="button">#}
                  {#<span class="glyphicon glyphicon-search"></span>#}
                {#</button>#}
              {#</span>#}
                    {#</div>#}
                {#</form>#}
                {#<ul class="nav navbar-nav navbar-right">#}
                    {#<li><a href="#"><span class="glyphicon glyphicon-user"></span> My Account</a></li>#}

                    {#{% if app.getUser() %}#}
                    {#login#}
                    {#{% else %}#}
                    {#logout#}
                    {#{% endif %}#}
                {#</ul>#}
            {#</div>#}
        {#</div>#}
    {#</nav>#}

    {% endblock header %}


<div class="container text-center">

    {% block body %}


    {% endblock body %}
</div>

{% block footer %}
    <footer class="container-fluid text-center">
        <p>Footer Text</p>
    </footer>
{% endblock footer %}

</body>
</html>